<section class="profile-main settings">
  <h2 class="section-title">Profile Settings</h2>
  <div class="site-wrapper">
    <div class="form-wrapper">
      <form class="flex flex-col overflow-hidden dark-theme" [formGroup]="updateAccountForm">
        <div class="group-fields">
          <div class="field-row">
            <span class="label"> Username <i class="required">*</i> </span>
            <mat-form-field class="flex-auto gt-xs:pr-3 col-md-12">
              <input id="username" matInput [formControlName]="'username'" />
              <mat-error *ngIf="updateAccountForm.get('username').hasError('required')"> Username is required </mat-error>
            </mat-form-field>
          </div>
          <div class="field-row">
            <span class="label"> Bio </span>
            <mat-form-field class="flex-auto gt-xs:pr-3 col-md-12">
              <textarea id="bio" matInput [formControlName]="'bio'"></textarea>
            </mat-form-field>
          </div>
          <div class="field-row">
            <span class="label"> Email Address <i class="required">*</i> </span>
            <mat-form-field class="flex-auto gt-xs:pr-3 col-md-12">
              <input id="email" matInput disabled [formControlName]="'email'" [disabled]="true" />
              <mat-error *ngIf="updateAccountForm.get('email').hasError('required')"> Email address is required </mat-error>
            </mat-form-field>
          </div>
          <div class="field-row">
            <span class="label"> Payout Address <i class="required">*</i> </span>
            <mat-form-field class="flex-auto gt-xs:pr-3 col-md-12">
              <input id="payoutAddress" matInput [formControlName]="'payoutAddress'" />
              <!-- <mat-error *ngIf="updateAccountForm.get('payoutAddress').hasError('required')">
                                    Payout Address is Required
                                </mat-error> -->
            </mat-form-field>
          </div>

          <!-- <div class="field-row password">
                        <span class="label"> Password <i class="required">*</i>
                            <span>It's good idea to use a strong password that you don't use elsewhere.</span></span>
                        <mat-form-field class="flex-auto gt-xs:pr-3 col-md-12">
                            <input id="password" type="password" matInput [formControlName]="'password'"/>
                                <mat-error *ngIf="updateAccountForm.get('password').hasError('required')">
                                    Password is required
                                </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="field-row password">
                        <span class="label">
                            Confirm Password <i class="required">*</i>
                        </span>
                        <mat-form-field class="flex-auto gt-xs:pr-3 col-md-12">
                            <input id="confirm_password" type="password" matInput
                            [formControlName]="'confirmPassword'"/>
                            <mat-error *ngIf="updateAccountForm.get('confirmPassword').hasError('required')">
                                Password confirmation is required
                            </mat-error>
                            <mat-error *ngIf="updateAccountForm.get('confirmPassword').hasError('mustMatch')">
                                Passwords must match
                            </mat-error>
                        </mat-form-field>
                    </div> -->
          <div class="field-row wallet-address">
            <div class="wallet-address-wrapper">
              <span class="wallet-address">{{ walletAddress }}</span>
              <span class="copy" (click)="copy()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="rgb(138, 147, 155)">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"
                  />
                </svg>
              </span>
            </div>
            <span class="message">Copied</span>
          </div>
          <button class="btn primary" (click)="submit()">
            <span> Save </span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fff">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
          </button>
        </div>
        <div class="group-fields media">
          <div class="field profile">
            <span class="label"> Profile Image </span>
            <div class="profile-photo" style="background: url({{ avatar }});">
              <input class="mcl-input" id="image" type="file" (change)="onChangeAvatar($event)" accept="image/*" />
              <span class="change-profile-hover">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fff">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                  />
                </svg>
              </span>
            </div>
          </div>
          <div class="field banner">
            <span class="label"> Profile Banner </span>
            <div class="profile-photo banner" style="background: url({{ banner }})">
              <input class="mcl-input" id="image" type="file" (change)="onChangeBanner($event)" accept="image/*" />
              <span class="change-profile-hover">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fff">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                  />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
