* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #eb9d3d;
  --background: #202020;
}

a:hover {
  text-decoration: none;
}

input:focus-visible {
  outline: none;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

@media (min-width: 1700px) {
  .container {
    max-width: 1600px;
  }
}

.myBtn {
  background: #202020;
  display: block;
  border: none;
  border-radius: 5px;
  padding: 12px 22px;
  color: #ffffff !important;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0px 3px 6px #00000029;
  transition: 0.4s ease all;
  border: 1px solid #e4e4e438;
}

.myBtn.small {
  width: auto;
  display: inline-block;
}

.myBtn.primary {
  background: var(--primary);
  color: #fff !important;
}

.myBtn:hover {
  box-shadow: 0 0 0 #00000029;
  background: #cd6d27;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.buttonGroup .myBtn {
  width: calc(50% - 5px);
}

.sectionDesign {
  color: #fff;
  padding: 50px 0;
  background-color: #202020;
}

.mainHeading {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  position: relative;
}

.mainHeading::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 72px;
  background: #fff;
  height: 3px;
}

.subHeading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* nav bar starts here */
.myHeader {
  background: #1a1a1a;
}

.myHeader .navbar-brand {
  width: 95px;
}

.myHeader .nav-item {
  padding-left: 25px;
}

.myHeader .navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 0;
  position: relative;
}

.myHeader .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  background: #eb9d3d;
  height: 2px;
  transition: 0.4s ease all;
}

.myHeader .navbar-nav .active .nav-link::after,
.myHeader .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.myHeader .nav-btn {
  font-size: 16px;
  color: #eb9d3d;
  text-decoration: none;
  padding: 5px 10px;
  min-width: 100px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  border: 2px solid #eb9d3d;
  transform: scale(0.97);
  display: inline-block;
  box-shadow: 0 0 0 rgb(34 34 34 / 15%);
  transition: 0.4s ease all;
}

.myHeader .nav-btn.primary {
  background: var(--primary);
  color: #fff !important;
}

.myHeader .nav-btn:hover {
  color: #fff;
  border-color: #cd6d27;
  background: #cd6d27;
}

.navbar-toggler {
  background: #040404;
  color: #fff;
  font-size: 20px;
  padding: 12px 15px;
}

/* user card starts here */
.user {
  text-align: center;
  max-width: 260px;
  margin-left: auto;
}

.UserImg {
  padding-top: 100%;
  position: relative;
  border: 2px solid #e4e4e438;
  background: #1c1c1c;
}

.UserImg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  object-fit: cover;
}

.user h2 {
  font-size: 22px;
  color: #cac4c4;
  margin: 0;
  margin-top: 16px;
}

.user span {
  font-size: 12px;
  color: #ffffffab;
  margin: 0;
}

.user h3 {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
}

/* form section starts here */
.formSection {
  margin: 50px 0;
}

.search {
  width: 100%;
  position: relative;
}

.search input {
  width: 100%;
  border-radius: 10px;
  padding: 4px 19px;
  border: 2px solid #e4e4e438;
  background-color: #1c1c1c;
  transition: 0.4s ease all;
  height: 48px;
  color: #fff;
}

.search input:focus {
  border: 2px solid #4c4c4c;
  background-color: rgba(180, 180, 180, 0.041);
}

.search button {
  position: absolute;
  top: 1px;
  right: 1px;
  border: none;
  border-radius: 0 10px 10px 0;
  height: calc(100% - 1px);
  background: transparent;
  min-width: 50px;
  font-weight: 500;
  padding: 0 13px;
  transition: 0.4s ease all;
  color: #4c4c4c;
}

.search button:hover {
  background: #c4c4c445;
  color: #fff;
}

.search input:focus + button {
  background-color: #4c4c4c;
  color: #fff;
}

.search.small input {
  width: 100%;
  border: 1px solid #4c4c4c;
  height: 36px;
}

.customCheck {
  position: relative;
  margin: 0 4px;
  margin-right: 13px;
}

.customCheck::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: var(--background);
  border-radius: 4px;
  transition: 0.4s ease all;
  cursor: pointer;
  border: 1px solid #9a9a9a;
}

.customCheck::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 14px;
  border: 1px solid transparent;
  box-shadow: 0 0px 0px 0 var(--background);
  border-top: none;
  border-left: none;
  cursor: pointer;
  transition: 0.4s ease all;
}

.customCheck:checked:after {
  top: 20%;
  left: 80%;
  border-color: var(--primary);
  border-width: 2px;
  background: var(--background);
  box-shadow: 2px 0px 0px 3px var(--background);
  width: 6px;
  transform: translate(-50%, -60%) rotate(45deg);
}

.customCheck:checked:before,
.customRadio:checked:before {
  background: var(--background);
  border-color: var(--primary);
}

/* drop down start here */

.dropWrapper {
  position: relative;
}

.toggleDropdown {
  background: #1c1c1c;
  display: block;
  padding: 10px;
  color: #fff;
  text-align: center;
  border: 2px solid #e4e4e438;
  border-radius: 10px;
  box-shadow: 0 0 0 0 #00000070;
  transition: 0.4s ease all;
}

.toggleDropdown:hover {
  background: #1c1c1c;
  color: #fff;
}

.toggleDropdown.active {
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 20px 11px #00000070;
  background: #1c1c1c;
  border-bottom-color: transparent;
}

.dropDown {
  border: 1px rgba(34, 34, 34, 0.15) solid;
  top: calc(100% - 10px);
  transform: none;
  right: 0;
  width: 100%;
  left: auto !important;
  box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
  border-radius: 0 0 10px 10px;
  position: absolute;
  z-index: 5;
  background: #1c1c1c;
  overflow: hidden;
  opacity: 0;
  box-shadow: 0 30px 20px 11px #00000070;
  pointer-events: none;
  transition: 0.4s ease all;
  border: 2px solid #e4e4e438;
  border-top: none;
}

.dropDown.active {
  pointer-events: all;
  opacity: 1;
  top: 100%;
}

.dropDownBody {
  max-height: 500px;
  overflow-y: auto;
}

.dropDownBody a {
  display: block;
  background: transparent;
  color: #fff;
  font-size: 14px;
  padding: 7px 15px;
  cursor: pointer;
  transition: 0.4s ease all;
}

.dropDownBody a:hover {
  background: #494949;
}

/* product card starts here */
.customRow {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.customRow div[class^='col'] {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.productCard {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 20px 11px #00000070;
  background: #1c1c1c;
  margin: 7.5px 0;
}

.productImg {
  position: relative;
  padding-top: 100%;
}

.productImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productFooter {
  padding: 15px;
}

.productFooter span {
  font-size: 12px;
  color: #ffffffab;
  margin: 0;
}

.productTitle {
  font-size: 18px;
  color: #eb9d3d;
  margin: 0;
  margin-bottom: 10px;
}

.productConent {
  font-size: 13px;
  color: #ffffffab;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  margin-bottom: 16px;
}

.productCard.locked {
  position: relative;
}

.productCard.locked::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #58585875;
  z-index: 2;
}

.productCard.locked::after {
  content: '\f023';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #161616;
  z-index: 2222;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 56px;
}

.allProducts .productCard {
  margin: 15px 0;
}

/* stats page starts here */
.numbers {
  text-align: center;
  margin-bottom: 15px;
}

.numbers span {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
}

.numbers h2 {
  font-size: 32px;
  color: #cac4c4;
  margin: 0;
  font-weight: 600;
}

/* collection section starts here */
.collection h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.collection .productImg,
.productCard.small .productImg {
  padding-top: 70%;
}

.linearWrapper {
  min-width: 125px;
}

.linearWrapper small {
  font-size: 12px;
  color: #eb9033;
  font-weight: 400;
  font-weight: 500;
}

.linearWrapper small span {
  color: #a2a2a2;
  font-weight: 200;
}

.linearWrapper .progress {
  background: #121212;
  height: 18px;
  box-shadow: 0 7px 10px 0px #00000070;
  border-radius: 10px;
}

.linearWrapper .progress-bar {
  border-radius: 10px;
  background: #eb9033;
  box-shadow: 0px 2px 10px #eb9033;
}
