<!-- WIP -->
<!-- TODO: CODE CLEANUP TO CSS -->

<div class="category-container">
  <div class="bg-image">
    <img src="assets/images/mcl/mcl-mascot-bg.png" />
  </div>
  <div class="title-description">
    <h2 class="category-title mb-3">CATEGORY NAME HERE</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, numquam doloribus voluptas est pariatur eius deserunt soluta dolores, quo id blanditiis quia nostrum nihil animi
      officiis, deleniti fugit tempora obcaecati.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat commodi explicabo nam eos corrupti saepe impedit modi facilis, nisi minima esse vel quam facere quidem, rem
      laboriosam libero doloremque quod?
    </p>
  </div>

  <!-- TODO: Replace list to category endpoint list -->
  <!-- TODO: Use reusable NFT card -->
  <h2>Alien Cat Category</h2>
  <div class="grid">
    <!-- TODO: Replace by reusable card -->
    <div class="card-wrapper col mt-3 mb-3">
      <div class="p-2 bd-highlight category-item-wrapper">
        <div class="upper-wrapper">
          <img src="assets/images/mcl/cat.png" />
        </div>
        <div class="lower-wrapper">
          <div class="profile-image-wrapper">
            <img src="assets/images/mcl/cat.png" />
          </div>
          <div class="item-list-wrapper">
            <div class="title-wrapper">
              Against Wordly Evil
              <span class="material-icons mat-icon-mcl"> verified </span>
            </div>
            <div class="name-wrapper mb-3">by <span class="user-name">Sardcat</span></div>
            <div class="desc-wrapper">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, enim sunt.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col mt-3 mb-3">
      <div class="p-2 bd-highlight category-item-wrapper">
        <div class="upper-wrapper">
          <img src="assets/images/mcl/cat.png" />
        </div>
        <div class="lower-wrapper">
          <div class="profile-image-wrapper">
            <img src="assets/images/mcl/cat.png" />
          </div>
          <div class="item-list-wrapper">
            <div class="title-wrapper">
              Against Wordly Evil
              <span class="material-icons mat-icon-mcl"> verified </span>
            </div>
            <div class="name-wrapper mb-3">by <span class="user-name">Sardcat</span></div>
            <div class="desc-wrapper">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, enim sunt.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col mt-3 mb-3">
      <div class="p-2 bd-highlight category-item-wrapper">
        <div class="upper-wrapper">
          <img src="assets/images/mcl/cat.png" />
        </div>
        <div class="lower-wrapper">
          <div class="profile-image-wrapper">
            <img src="assets/images/mcl/cat.png" />
          </div>
          <div class="item-list-wrapper">
            <div class="title-wrapper">
              Against Wordly Evil
              <span class="material-icons mat-icon-mcl"> verified </span>
            </div>
            <div class="name-wrapper mb-3">by <span class="user-name">Sardcat</span></div>
            <div class="desc-wrapper">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, enim sunt.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper col mt-3 mb-3">
      <div class="p-2 bd-highlight category-item-wrapper">
        <div class="upper-wrapper">
          <img src="assets/images/mcl/cat.png" />
        </div>
        <div class="lower-wrapper">
          <div class="profile-image-wrapper">
            <img src="assets/images/mcl/cat.png" />
          </div>
          <div class="item-list-wrapper">
            <div class="title-wrapper">
              Against Wordly Evil
              <span class="material-icons mat-icon-mcl"> verified </span>
            </div>
            <div class="name-wrapper mb-3">by <span class="user-name">Sardcat</span></div>
            <div class="desc-wrapper">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, enim sunt.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
