<app-profile-navlinks></app-profile-navlinks>
<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <h4 style="font-family: GT Sectra Display; font-weight: bold; cursor: pointer" [ngClass]="selectedTab === 0 ? 'colored' : 'noColor'" (click)="changeTab(0)">NFTs</h4>
    <div class="ml-2 vl"></div>
    <h4 class="ml-2" style="font-family: GT Sectra Display; font-weight: bold; cursor: pointer" [ngClass]="selectedTab === 1 ? 'colored' : 'noColor'" (click)="changeTab(1)">
      Rewards
    </h4>
  </div>
  <div class="nft-border"></div>
  <div class="row mt-7" *ngIf="selectedTab === 0">
    <section class="profile-main">
      <div class="site-wrapper">
        <div class="flex" style="margin-right: 30px">
          <h4>Filter Wallet Address:</h4>
          <mat-select class="ml-5" [(value)]="walletAddressFilter" (selectionChange)="getNFTsForWallet()" [disabled]="filteredNFTs.length === 0">
            <mat-option value="all">All</mat-option>
            <mat-option *ngFor="let walletAddress of linkedWalletAddresses" [value]="{walletAddress}">{{ walletAddress }}</mat-option>
          </mat-select>
        </div>
        <div class="collection grid" *ngIf="filteredNFTs.length > 0">
          <div *ngFor="let nft of filteredNFTs">
            <app-nft-card-bkcn [nft]="nft.nft" [walletAddress]="walletAddress"> </app-nft-card-bkcn>
          </div>
        </div>
        <div class="no-results">
          <span class="no-nft-label" *ngIf="!isFetching && filteredNFTs.length === 0">No NFT found</span>
          <div class="d-flex justify-content-center align-items-baseline nr-wrapper" *ngIf="isFetching">
            <span class="loading-label">Fetching NFTs</span>
            <div class="spinner-grow spinner-wrapper text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="row mt-7" *ngIf="selectedTab === 1">
    <section class="profile-main">
      <div class="site-wrapper">
        <div *ngIf="collectionsWithRewards.length > 0">
          <div class="row" *ngFor="let collection of collectionsWithRewards">
            <div class="col-md-3"></div>
            <h2 class="feat-drops2 col-md-6">{{ collection.collectionName }}</h2>

            <div class="pt-4 row mx-auto">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <p style="color: #202020; font-size: 23px" class="text-center underline-quote">
                  {{ collection.reward.title }}
                </p>
                <div class="d-flex flex-row">
                  <markdown [data]="collection.reward.markdown"> </markdown>
                </div>
                <br />
                <h3>S3:</h3>
                <div>
                  <app-rewards-explorer [files]="collection.reward.s3Structure"></app-rewards-explorer>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="no-results">
          <span class="no-nft-label" *ngIf="!isFetchingRewards && collectionsWithRewards.length === 0">No Reward found</span>
          <div class="d-flex justify-content-center align-items-baseline nr-wrapper" *ngIf="isFetchingRewards">
            <span class="loading-label">Fetching Rewards</span>
            <div class="spinner-grow spinner-wrapper text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
