h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'Gt sectra display', sans-serif;
  font-weight: 600;
}

.mat-dialog-container {
  background-color: #bdbdbd !important;
  color: white;
  padding: 44px;
}

button {
  background-color: #ddba77;
  border-radius: 10px !important;
  font-size: 24px;
  font-family: Neue World Regular;
  width: 200px;
  color: white;
}

button:hover {
  background-color: #ddba77;
  color: white;
}

button:focus {
  background-color: #ddba77;
  color: white;
}

button.closing {
  border: 2px solid red;
}

.wizard-container {
  background: #bdbdbd;

  p {
    color: black;
  }

  .wizard {
    padding: 25px;
    text-align: center;
    max-width: 250px;

    .description {
      font-family: Inconsolata, monospace;
    }

    $imgSide: 50px;
    .status-icon {
      margin: auto;
      width: $imgSide;
      height: $imgSide;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &.dormant {
    }

    &.active {
    }

    &.finished {
    }
  }
}
