<!-- Footer -->
<footer>
  <!-- Section: Links  -->
  <section>
    <div class="container text-md-start mt-5">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <!-- Removed (via ngIf) per Ty's request on Feb/19/2022. Leaving for future usage. -->
          <div *ngIf="false" class="row">
            <div class="row">
              <h3 class="text-color h2 strong">Be a BookCoin Insider & Get Launch Perks</h3>
            </div>
            <div class="row mt-5">
              <div class="col-md-8 mt-2">
                <input type="text" class="input-style form-control" placeholder="Email" />
              </div>
              <div class="col-md-4 mt-2">
                <button class="btn btn-primary button-style">Subscribe</button>
              </div>
            </div>
          </div>
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 mt-8">
              <!-- Links -->
              <h5 class="fw-bold mb-2 bkcn-footer">BookCoin</h5>
              <p>
                <button href="#!" class="text-reset">@2022, Bookcoin</button>
              </p>
            </div>
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="d-flex">
                <!-- Grid column -->
                <div class="mt-8 mr-auto">
                  <!-- Links -->
                  <h5 class="fw-bold mb-2 heading-color">Community</h5>
                  <p>
                    <button href="https://discord.gg/wFAaSE2FKe" class="text-reset">Discord</button>
                  </p>
                  <p>
                    <button href="https://twitter.com/bookcoinHQ" class="text-reset">Twitter</button>
                  </p>
                  <p>
                    <button href="https://help.bookcoin.com/" class="text-reset">Help Desk</button>
                  </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mt-8 mr-auto">
                  <!-- Links -->
                  <h5 class="fw-bold mb-2 heading-color">Partnership</h5>
                  <p>
                    <button href="https://bkcn.typeform.com/publishers" class="text-reset">For Publishers</button>
                  </p>
                  <p>
                    <button href="https://bkcn.typeform.com/authors" class="text-reset">For Authors</button>
                  </p>
                  <p>
                    <button href="https://bkcn.typeform.com/artists" class="text-reset">For Artists</button>
                  </p>
                </div>
                <!-- Grid column -->
              </div>
            </div>

            <!-- Grid column -->
            <div class="col-md-3 mt-8">
              <!-- Links -->
              <h5 class="fw-bold mb-2 heading-color">Legal</h5>
              <p>
                <button href="https://help.bookcoin.com/legal/uAwesWqn2qCz1wgk9UEGTu/terms-of-service/oraomuxzD5A3nyoNjxmCSE" class="text-reset">Terms of use</button>
              </p>
              <p>
                <button href="https://help.bookcoin.com/legal/uAwesWqn2qCz1wgk9UEGTu/privacy-policy/64nKP7FrEz28sayAqZfaXQ" class="text-reset">Privacy Policy</button>
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>
</footer>
<!-- Footer -->
