.mcm-brand1 {
  color: #bbbdbf;
  font-family: Neue World;
}
.link_button {
  color: #bbbdbf;
}
.sign_btn {
  background-color: #3a3a3b !important;
  color: #fff !important;
}
.static-coln {
  position: fixed !important;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
}
