h2.section-title {
  display: block;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.profile-main {
  .no-results {
    text-align: center;
    color: #ffffff59;
    font-size: 15px;
    padding: 50px;
  }
}
