h2.section-title {
  display: block;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.profile-main {
  .no-results {
    text-align: center;
    color: #ffffff59;
    font-size: 15px;
    padding: 50px;
  }
}
.btn .btn-secondary .mcl-button {
  max-width: fit-content !important;
}
::ng-deep .pay-stat .mat-cell {
  color: white !important;
  background-color: rgba(50, 49, 49) !important;
}
::ng-deep .pay-stat .mat-header-cell {
  color: white !important;
  background-color: rgba(50, 49, 49) !important;
}
