<h2 class="section-title">Create A New Collection</h2>
<section class="profile-main create-item">
  <div class="site-wrapper">
    <div class="form-wrapper">
      <form class="overflow-hidden dark-theme" [formGroup]="createCollectionForm">
        <div class="group-fields">
          <div class="field-row">
            <span class="label">
              Image <i class="required">*</i>
              <span>File types supported: JPG, PNG, GIF, SVG</span>
            </span>

            <div class="file-upload-wrapper">
              <input id="image" (change)="onChange($event)" type="file" multiple />
              <div class="icon-wrapper" [class.update]="fileUrl">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="rgb(229, 232, 235)">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
                  />
                </svg>
              </div>
              <img *ngIf="fileUrl" [src]="fileUrl" class="product-image" />
            </div>
          </div>
          <div class="field-row">
            <span class="label"> Name <i class="required">*</i> </span>
            <mat-form-field class="flex-auto gt-xs:pr-3 col-md-12">
              <input id="username" matInput [formControlName]="'name'" />
              <mat-error *ngIf="createCollectionForm.get('name').hasError('required')"> Name is required </mat-error>
            </mat-form-field>
          </div>

          <div class="field-row">
            <span class="label"> Symbol <i class="required">*</i> </span>
            <mat-form-field class="flex-auto gt-xs:pr-3 col-md-12">
              <input id="username" matInput [formControlName]="'symbol'" />
              <mat-error *ngIf="createCollectionForm.get('symbol').hasError('required')"> Symbol is required </mat-error>
            </mat-form-field>
          </div>

          <div class="field-row">
            <span class="label">
              Description <i class="required">*</i>
              <span>The description will be included on the item's detail page underneath its image.</span>
            </span>
            <mat-form-field class="flex-auto gt-xs:pr-3 col-md-12">
              <textarea id="desc" matInput [formControlName]="'description'" [rows]="3" matTextareaAutosize></textarea>
              <mat-error *ngIf="createCollectionForm.get('description').hasError('required')"> Description is required </mat-error>
            </mat-form-field>
          </div>

          <button class="btn primary" [disabled]="createCollectionForm.invalid" (click)="createCollection()">
            <span> Create </span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fff">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
